.display {
    border: 5px solid cadetblue;
    width: 450px;
    border-radius: 15px;
    display: flex;
    align-items: center;
    height: 180px;
    justify-content: center;
}

.value {
    color: cadetblue;
    font-size: 58px;
}

redError {
    color:red;
    text-align: center;
}

